.App {
  height: 100vh;
}

.meciuri {
  width: 100%;
  height: 100%;
  background-image: url("../../images/image-meciuri.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-titlu {
  width: 15%;
  height: 15%;
}

.titlu-meciuri {
  width: 100%;
  height: 100%;
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 95px;
  color: #ffffff;
}

.div-meciuri {
  width: 70%;
  height: 80%;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-meciuri-left {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;

  width: 45%;
  height: 100%;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*meciul 1*/

.jucat {
  width: 100%;
  height: 28%;
  /*border: 1px solid black;*/

  display: flex;
  align-items: flex-end;
  position: relative;
}

.banner1 {
  width: 100%;
  height: 60%;
  /*border: 1px solid black;*/

  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.div-part-top {
  width: 100%;
  height: 50%;
  /*border: 1px solid black;*/

  display: flex;
  justify-content: center;
}

.titlu-date {
  font-family: "Quantico";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #2a52be;
}

.div-part-bottom {
  width: 100%;
  height: 50%;
  /*border: 1px solid black;*/

  display: flex;
  justify-content: center;
}

.div-part-bottom-banner {
  width: 95%;
  height: 90%;
  /*border: 1px solid black;*/

  display: flex;
  flex-direction: row;
}

.div-nume-echipa {
  width: 33.3%;
  height: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
}

.lbl-nume-echipa {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #2a52be;
  width: 100%;
  height: 100%;
  text-align: center;
}

.div-scor {
  width: 33.3%;
  height: 100%;
  background-color: #2a52be;
  display: flex;
  flex-direction: column;
}

.lbl-scor {
  width: 100%;
  height: 100%;
  text-align: center;
}
.emblema1 {
  position: absolute;
  top: 0;
  left: 0;
}

.emblema2 {
  position: absolute;
  top: 0;
  right: 0;
}

.div-titlu-meci-jucat1 {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 1;
  margin-left: 170px;
  width: 30%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

/*meciuri urmatoare*/

.div-meciuri-right {
  font-family: "Prata";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;

  width: 45%;
  height: 100%;
  /*border: 1px solid black;*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.urmator {
  width: 100%;
  height: 28%;
  /*  border: 1px solid black;*/

  display: flex;
  align-items: flex-end;
  position: relative;
}
